@keyframes dropTop {
    0% {
      transform: translateY(-100%) scale(0);
      opacity: 0;
    }
    100% {
      transform: translateY(0%) scale(1);
      opacity: 1;
    }
  }

  .no-scroll {
    overflow: hidden;
  }