.main-product-image {
    background-color: white;
    border-radius: 10px;
    width: 100%;
}

.main-product-image img {
    width: 100% !important;
    height: 600px !important;
    object-fit: cover;
}

.main-product-image .js-image-zoom__zoomed-image {
    width: 1000px;
    height: 1000px; 
    background-color: white;
    border-radius: 10px;
}

.selected-thumbnail {
    border: 2px solid black !important; /* Override any other border settings */
}
